<!doctype html>

<!--[if lt IE 8]>      <html class="no-js ie7"> <![endif]-->
<!--[if IE 8]>         <html class="no-js ie8"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en">         <!--<![endif]-->

<head>
	<meta charset="utf-8" />
	<title>Video Test</title>

	<!-- Meta -->
	

	<!-- CSS -->
	<link rel="stylesheet" href="/stylesheets/vex.css" />
	<link rel="stylesheet" href="/stylesheets/global.css" />

	<!-- Modernizr -->
	<script src="/javascripts/plugins/modernizr.custom.71976.js"></script>
	
</head>
<body>

	<%= yield %>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script src="/javascripts/vex.js"></script>
</body>
</html>
