<div class="container" data-vex-container>
	<video data-vex-video preload controls>
		<source src="/video/dizzy.mp4" type="video/mp4">
		<source src="http://html5demos.com/assets/dizzy.webm" type="video/webm">
		<source src="http://html5demos.com/assets/dizzy.ogv" type="video/ogg">
	</video>
	<div data-vex-background data-vex-in=0 class="sky"></div>
	<div data-vex-background data-vex-in=5 data-vex-duration=10 class="darksky"></div>
	<img src="/images/moon.png" data-vex-in=2 data-vex-out=20 data-vex-duration=15 alt="" class="moon">
	<div class="set" data-vex-in=1></div>
	<div data-vex-background data-vex-in=24 style="background: black;"></div>
</div>