<div data-vex-container>
	<video data-vex-video preload controls>
		<source src="/video/dizzy.mp4" type="video/mp4">
		<source src="http://html5demos.com/assets/dizzy.webm" type="video/webm">
		<source src="http://html5demos.com/assets/dizzy.ogv" type="video/ogg">
	</video>
	<div data-vex-background data-vex-in=1 data-vex-out=10 style="background-image:url(https://lh4.googleusercontent.com/-Aa8byXw09oI/AAAAAAAAAAI/AAAAAAAAAAA/mmRW3f_I3rs/s27-c/photo.jpg)"></div>
</div>